.menu{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
    position: absolute;
    width: 234px;
    height: 56px;
    left: 101px;
    bottom: 0px;
    z-index: 1;
    text-transform: capitalize;

}

